<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About This Site</title>
    <link rel="icon" href="https://pngimg.com/uploads/github/github_PNG53.png" type="image/png">

    <meta name="description" content="description">
    <link rel="author" content="Robin Cai" href="https://robineversunshine.github.io/Portfolio_Website/" />

    <meta property="og:url" content="index.html" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="About This Site" />
    <meta property="og:description" content="description" />
    <meta property="og:image" content="" />

    <!-- <link rel="stylesheet" href="css/main.css"> -->
</head>
<body>
    <header>
        <img src="https://pngimg.com/uploads/github/github_PNG53.png" alt="site logo" width="20px" height="20px">
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <hr>



    <article>
        <h1>About This Site</h1>
        <p>Math, coding, and shitty memes! Welcome to this Notion page! 😸</p>
        <p>This is a page of all kinds of resources, experiences and tips & tricks I collected. Most of them is about all kinds of different parts of Houdini, and you can always find something interesting here!</p>
        <p>I once learnt a lot about softwares like Substance Painter, Marvelous Designer, 3D Coat and so on, but I end up forgetting how to use them because I don’t often work with these tools. So taking notes, especially things I seldom use has become a significant task for me. Because of not taking notes, I’ve lost too much precious time.</p>
        <p>In the beginning I wanted some of my friends and classmates put their precious notes here too, and we can communicate and discuss all these archives of knowledge. However, it seems that I’m the only one writing all the contents here…</p>
        <p>But if you are interested, you can contact me at any time and I will invite you to this workspace! 😎</p>
        <p>Ahh, I feel sick of all this loneliness lmao 😭 🕶️ 👌</p>
    </article>



    <hr>
    <footer>
        <p>cookie usage</p>
        <a href="#">accept cookies</a>
    </footer>

</body>
</html>