<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit article "{{article.title}}"</h1>
    
    <form action="/confirm-edit" method="POST">
        title<textarea name="title" type="text" rows = "5" cols="50">{{article.title}}</textarea>
        <hr>
        author<input name="author" type="text" value="{{article.author}}">
        <hr>
        content<textarea name="content" type="text" rows = "10" cols="50">{{article.content}}</textarea>
        <hr>
        image<textarea name="image" type="text" rows = "5" cols="50">{{article.image}}</textarea>
        <hr>
        is feature<input name="isfeature" type="checkbox" value="1" {% if (article.isfeature) %}checked{% endif %}>
        <hr>
        <input name="articleid" type="hidden" value = "{{article.articleid}}">
        <input type="submit">
    </form>
    <a href="/">Home</a>
</body>
</html>